<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <!--<div class="input-group-addon glyphicon glyphicon-search"></div>-->
      <input type="text" class="form-control" ng-model="search" placeholder="Enter a keyword">

    </div>
  </div>
</form>

<div class="row">&nbsp;</div>

<table class="table table-striped table-bordered">
  <tbody>
  <tr>
    <td>Id</td>
    <td>FirstName</td>
    <td>LastName</td>
    <td>City</td>
    <td>Details</td>
  </tr>

  <tr ng-repeat="person in people | filter:search">
    <td>{{person.id}}</td>
    <td>{{person.fname}}</td>
    <td>{{person.lname}}</td>
    <td>{{person.city}}</td>
    <td><a ui-sref="view({id:{{person.id-1}}})">{{person.fname + ' ' + person.lname}}</a></td>
  </tr>

  </tbody>
</table>
